Temporary-Prison/Temporary-Prison.Data/Connected Services/UserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49365/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49365/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" />
      <xsd:import schemaLocation="http://localhost:49365/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49365/UserService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_IsValidLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidLogin" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsValidLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsValidLogin_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q1:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByName" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByName_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q2:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersForPagedList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersForPagedList" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersForPagedList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersForPagedListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersForPagedList_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q3:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoles" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllRoles_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q4:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q5:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditUser_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q6:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q7:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsExistsByLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:IsExistsByLogin" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsExistsByLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsExistsByLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsExistsByLogin_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q8:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsExistsByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:IsExistsByEmail" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsExistsByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsExistsByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsExistsByEmail_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q9:DataErrorDto" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="IsValidLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/IsValidLogin" message="tns:IUserService_IsValidLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/IsValidLoginResponse" message="tns:IUserService_IsValidLogin_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/IsValidLoginDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IUserService_IsValidLogin_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserByName" message="tns:IUserService_GetUserByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserByNameResponse" message="tns:IUserService_GetUserByName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/GetUserByNameDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IUserService_GetUserByName_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersForPagedList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUsersForPagedList" message="tns:IUserService_GetUsersForPagedList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUsersForPagedListResponse" message="tns:IUserService_GetUsersForPagedList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/GetUsersForPagedListDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IUserService_GetUsersForPagedList_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllRoles" message="tns:IUserService_GetAllRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllRolesResponse" message="tns:IUserService_GetAllRoles_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/GetAllRolesDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IUserService_GetAllRoles_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddUser" message="tns:IUserService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddUserResponse" message="tns:IUserService_AddUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/AddUserDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IUserService_AddUser_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/EditUser" message="tns:IUserService_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/EditUserResponse" message="tns:IUserService_EditUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/EditUserDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IUserService_EditUser_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteUser" message="tns:IUserService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteUserResponse" message="tns:IUserService_DeleteUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/DeleteUserDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IUserService_DeleteUser_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsExistsByLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/IsExistsByLogin" message="tns:IUserService_IsExistsByLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/IsExistsByLoginResponse" message="tns:IUserService_IsExistsByLogin_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/IsExistsByLoginDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IUserService_IsExistsByLogin_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsExistsByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/IsExistsByEmail" message="tns:IUserService_IsExistsByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/IsExistsByEmailResponse" message="tns:IUserService_IsExistsByEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/IsExistsByEmailDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IUserService_IsExistsByEmail_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsValidLogin">
      <soap:operation soapAction="http://tempuri.org/IUserService/IsValidLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUsersForPagedList">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUsersForPagedList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAllRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsExistsByLogin">
      <soap:operation soapAction="http://tempuri.org/IUserService/IsExistsByLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsExistsByEmail">
      <soap:operation soapAction="http://tempuri.org/IUserService/IsExistsByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:49365/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>