Temporary-Prison/Temporary-Prison.Data/Connected Services/UserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49365/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49365/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" />
      <xsd:import schemaLocation="http://localhost:49365/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49365/UserService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_IsValidLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidLogin" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsValidLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsValidLogin_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q1:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByName" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByName_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q2:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersForPagedList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersForPagedList" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersForPagedList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersForPagedListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersForPagedList_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q3:DataErrorDto" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="IsValidLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/IsValidLogin" message="tns:IUserService_IsValidLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/IsValidLoginResponse" message="tns:IUserService_IsValidLogin_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/IsValidLoginDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IUserService_IsValidLogin_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserByName" message="tns:IUserService_GetUserByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserByNameResponse" message="tns:IUserService_GetUserByName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/GetUserByNameDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IUserService_GetUserByName_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersForPagedList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUsersForPagedList" message="tns:IUserService_GetUsersForPagedList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUsersForPagedListResponse" message="tns:IUserService_GetUsersForPagedList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/GetUsersForPagedListDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IUserService_GetUsersForPagedList_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsValidLogin">
      <soap:operation soapAction="http://tempuri.org/IUserService/IsValidLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUsersForPagedList">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUsersForPagedList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:49365/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>