Temporary-Prison/Temporary-Prison.Data/Connected Services/PrisonService/PrisonerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrisonerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3333/PrisonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3333/PrisonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" />
      <xsd:import schemaLocation="http://localhost:3333/PrisonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3333/PrisonService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrisonerService_GetPrisonersForPagedList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrisonersForPagedList" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetPrisonersForPagedList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrisonersForPagedListResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetPrisonersForPagedList_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q1:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetPrisonerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrisonerById" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetPrisonerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrisonerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetPrisonerById_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q2:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_AddPrisoner_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPrisoner" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_AddPrisoner_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPrisonerResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_AddPrisoner_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q3:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_SearchFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchFilter" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_SearchFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_SearchFilter_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q4:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_EditPrisoner_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPrisoner" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_EditPrisoner_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPrisonerResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_EditPrisoner_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q5:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_DeletePrisoner_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrisoner" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_DeletePrisoner_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrisonerResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_DeletePrisoner_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q6:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_RegisterDetention_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterDetention" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_RegisterDetention_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterDetentionResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_RegisterDetention_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q7:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_ReleaseOfPrisoner_InputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseOfPrisoner" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_ReleaseOfPrisoner_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseOfPrisonerResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_ReleaseOfPrisoner_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q8:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetDetentionsByPrisonerIdForPagedList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetentionsByPrisonerIdForPagedList" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetDetentionsByPrisonerIdForPagedList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetentionsByPrisonerIdForPagedListResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetDetentionsByPrisonerIdForPagedList_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q9:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetDetentionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetentionById" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetDetentionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetentionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetDetentionById_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q10:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_EditDetention_InputMessage">
    <wsdl:part name="parameters" element="tns:EditDetention" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_EditDetention_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditDetentionResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_EditDetention_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q11:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_DeleteDetention_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDetention" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_DeleteDetention_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDetentionResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_DeleteDetention_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q12:DataErrorDto" />
  </wsdl:message>
  <wsdl:portType name="IPrisonerService">
    <wsdl:operation name="GetPrisonersForPagedList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisonerService/GetPrisonersForPagedList" message="tns:IPrisonerService_GetPrisonersForPagedList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisonerService/GetPrisonersForPagedListResponse" message="tns:IPrisonerService_GetPrisonersForPagedList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrisonerService/GetPrisonersForPagedListDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IPrisonerService_GetPrisonersForPagedList_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrisonerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisonerService/GetPrisonerById" message="tns:IPrisonerService_GetPrisonerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisonerService/GetPrisonerByIdResponse" message="tns:IPrisonerService_GetPrisonerById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrisonerService/GetPrisonerByIdDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IPrisonerService_GetPrisonerById_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPrisoner">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisonerService/AddPrisoner" message="tns:IPrisonerService_AddPrisoner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisonerService/AddPrisonerResponse" message="tns:IPrisonerService_AddPrisoner_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrisonerService/AddPrisonerDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IPrisonerService_AddPrisoner_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisonerService/SearchFilter" message="tns:IPrisonerService_SearchFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisonerService/SearchFilterResponse" message="tns:IPrisonerService_SearchFilter_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrisonerService/SearchFilterDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IPrisonerService_SearchFilter_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPrisoner">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisonerService/EditPrisoner" message="tns:IPrisonerService_EditPrisoner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisonerService/EditPrisonerResponse" message="tns:IPrisonerService_EditPrisoner_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrisonerService/EditPrisonerDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IPrisonerService_EditPrisoner_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePrisoner">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisonerService/DeletePrisoner" message="tns:IPrisonerService_DeletePrisoner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisonerService/DeletePrisonerResponse" message="tns:IPrisonerService_DeletePrisoner_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrisonerService/DeletePrisonerDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IPrisonerService_DeletePrisoner_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterDetention">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisonerService/RegisterDetention" message="tns:IPrisonerService_RegisterDetention_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisonerService/RegisterDetentionResponse" message="tns:IPrisonerService_RegisterDetention_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrisonerService/RegisterDetentionDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IPrisonerService_RegisterDetention_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReleaseOfPrisoner">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisonerService/ReleaseOfPrisoner" message="tns:IPrisonerService_ReleaseOfPrisoner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisonerService/ReleaseOfPrisonerResponse" message="tns:IPrisonerService_ReleaseOfPrisoner_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrisonerService/ReleaseOfPrisonerDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IPrisonerService_ReleaseOfPrisoner_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetentionsByPrisonerIdForPagedList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisonerService/GetDetentionsByPrisonerIdForPagedList" message="tns:IPrisonerService_GetDetentionsByPrisonerIdForPagedList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisonerService/GetDetentionsByPrisonerIdForPagedListResponse" message="tns:IPrisonerService_GetDetentionsByPrisonerIdForPagedList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrisonerService/GetDetentionsByPrisonerIdForPagedListDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IPrisonerService_GetDetentionsByPrisonerIdForPagedList_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetentionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisonerService/GetDetentionById" message="tns:IPrisonerService_GetDetentionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisonerService/GetDetentionByIdResponse" message="tns:IPrisonerService_GetDetentionById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrisonerService/GetDetentionByIdDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IPrisonerService_GetDetentionById_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditDetention">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisonerService/EditDetention" message="tns:IPrisonerService_EditDetention_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisonerService/EditDetentionResponse" message="tns:IPrisonerService_EditDetention_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrisonerService/EditDetentionDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IPrisonerService_EditDetention_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDetention">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisonerService/DeleteDetention" message="tns:IPrisonerService_DeleteDetention_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisonerService/DeleteDetentionResponse" message="tns:IPrisonerService_DeleteDetention_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrisonerService/DeleteDetentionDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IPrisonerService_DeleteDetention_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrisonerService" type="tns:IPrisonerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPrisonersForPagedList">
      <soap:operation soapAction="http://tempuri.org/IPrisonerService/GetPrisonersForPagedList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPrisonerById">
      <soap:operation soapAction="http://tempuri.org/IPrisonerService/GetPrisonerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddPrisoner">
      <soap:operation soapAction="http://tempuri.org/IPrisonerService/AddPrisoner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchFilter">
      <soap:operation soapAction="http://tempuri.org/IPrisonerService/SearchFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditPrisoner">
      <soap:operation soapAction="http://tempuri.org/IPrisonerService/EditPrisoner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeletePrisoner">
      <soap:operation soapAction="http://tempuri.org/IPrisonerService/DeletePrisoner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegisterDetention">
      <soap:operation soapAction="http://tempuri.org/IPrisonerService/RegisterDetention" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReleaseOfPrisoner">
      <soap:operation soapAction="http://tempuri.org/IPrisonerService/ReleaseOfPrisoner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDetentionsByPrisonerIdForPagedList">
      <soap:operation soapAction="http://tempuri.org/IPrisonerService/GetDetentionsByPrisonerIdForPagedList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDetentionById">
      <soap:operation soapAction="http://tempuri.org/IPrisonerService/GetDetentionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditDetention">
      <soap:operation soapAction="http://tempuri.org/IPrisonerService/EditDetention" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteDetention">
      <soap:operation soapAction="http://tempuri.org/IPrisonerService/DeleteDetention" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrisonerService">
    <wsdl:port name="BasicHttpBinding_IPrisonerService" binding="tns:BasicHttpBinding_IPrisonerService">
      <soap:address location="http://localhost:3333/PrisonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>