Temporary-Prison/Temporary-Prison.Data/Connected Services/PrisonService/PrisonService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49365/PrisonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" />
  <xs:element name="GetPrisoners">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrisonersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" minOccurs="0" name="GetPrisonersResult" nillable="true" type="q1:ArrayOfPrisonerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrisonersForPagedList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="rowSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrisonersForPagedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" minOccurs="0" name="GetPrisonersForPagedListResult" nillable="true" type="q2:ArrayOfPrisonerDto" />
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrisonerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrisonerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" minOccurs="0" name="GetPrisonerByIdResult" nillable="true" type="q3:PrisonerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryAddPrisoner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" minOccurs="0" name="prisoner" nillable="true" type="q4:PrisonerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryAddPrisonerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryAddPrisonerResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="newId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>