Temporary-Prison/Temporary-Prison.Data/Connected Services/PrisonService/PrisonService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPrisonerProfileDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrisonerProfileDto" nillable="true" type="tns:PrisonerProfileDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrisonerProfileDto" nillable="true" type="tns:ArrayOfPrisonerProfileDto" />
  <xs:complexType name="PrisonerProfileDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrisonerProfileDto" nillable="true" type="tns:PrisonerProfileDto" />
</xs:schema>