Temporary-Prison/Temporary-Prison.Data/Connected Services/PrisonService/PrisonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrisonerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49365/PrisonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49365/PrisonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" />
      <xsd:import schemaLocation="http://localhost:49365/PrisonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49365/PrisonService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrisonerService_GetPrisoners_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrisoners" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetPrisoners_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrisonersResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetPrisoners_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q1:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetPrisonersForPagedList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrisonersForPagedList" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetPrisonersForPagedList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrisonersForPagedListResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetPrisonersForPagedList_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q2:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetPrisonerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrisonerById" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetPrisonerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrisonerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_GetPrisonerById_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q3:DataErrorDto" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_AddPrisoner_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPrisoner" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_AddPrisoner_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPrisonerResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisonerService_AddPrisoner_DataErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" name="detail" element="q4:DataErrorDto" />
  </wsdl:message>
  <wsdl:portType name="IPrisonerService">
    <wsdl:operation name="GetPrisoners">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisonerService/GetPrisoners" message="tns:IPrisonerService_GetPrisoners_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisonerService/GetPrisonersResponse" message="tns:IPrisonerService_GetPrisoners_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrisonerService/GetPrisonersDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IPrisonerService_GetPrisoners_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrisonersForPagedList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisonerService/GetPrisonersForPagedList" message="tns:IPrisonerService_GetPrisonersForPagedList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisonerService/GetPrisonersForPagedListResponse" message="tns:IPrisonerService_GetPrisonersForPagedList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrisonerService/GetPrisonersForPagedListDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IPrisonerService_GetPrisonersForPagedList_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrisonerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisonerService/GetPrisonerById" message="tns:IPrisonerService_GetPrisonerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisonerService/GetPrisonerByIdResponse" message="tns:IPrisonerService_GetPrisonerById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrisonerService/GetPrisonerByIdDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IPrisonerService_GetPrisonerById_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPrisoner">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisonerService/AddPrisoner" message="tns:IPrisonerService_AddPrisoner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisonerService/AddPrisonerResponse" message="tns:IPrisonerService_AddPrisoner_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrisonerService/AddPrisonerDataErrorDtoFault" name="DataErrorDtoFault" message="tns:IPrisonerService_AddPrisoner_DataErrorDtoFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrisonerService" type="tns:IPrisonerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPrisoners">
      <soap:operation soapAction="http://tempuri.org/IPrisonerService/GetPrisoners" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPrisonersForPagedList">
      <soap:operation soapAction="http://tempuri.org/IPrisonerService/GetPrisonersForPagedList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPrisonerById">
      <soap:operation soapAction="http://tempuri.org/IPrisonerService/GetPrisonerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddPrisoner">
      <soap:operation soapAction="http://tempuri.org/IPrisonerService/AddPrisoner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataErrorDtoFault">
        <soap:fault use="literal" name="DataErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrisonerService">
    <wsdl:port name="BasicHttpBinding_IPrisonerService" binding="tns:BasicHttpBinding_IPrisonerService">
      <soap:address location="http://localhost:49365/PrisonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>