Temporary-Prison/Temporary-Prison.Data/Connected Services/PrisonService/PrisonService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Temporary_Prison.Service.Contracts.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49365/PrisonService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfPrisonerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrisonerDto" nillable="true" type="tns:PrisonerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrisonerDto" nillable="true" type="tns:ArrayOfPrisonerDto" />
  <xs:complexType name="PrisonerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PhoneNumbers" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaceOfWork" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrisonerId" type="xs:int" />
      <xs:element minOccurs="0" name="RelationshipStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrisonerDto" nillable="true" type="tns:PrisonerDto" />
  <xs:complexType name="DataErrorDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataErrorDto" nillable="true" type="tns:DataErrorDto" />
  <xs:complexType name="RegistrationOfDetentionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfArrival" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfDetention" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeliveredEmployee" nillable="true" type="tns:EmployeeDto" />
      <xs:element minOccurs="0" name="DetainedEmployee" nillable="true" type="tns:EmployeeDto" />
      <xs:element minOccurs="0" name="PlaceofDetention" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrisonerID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationOfDetentionDto" nillable="true" type="tns:RegistrationOfDetentionDto" />
  <xs:complexType name="EmployeeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="FristName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDto" nillable="true" type="tns:EmployeeDto" />
  <xs:complexType name="ArrayOfDetentionPagedListDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetentionPagedListDto" nillable="true" type="tns:DetentionPagedListDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetentionPagedListDto" nillable="true" type="tns:ArrayOfDetentionPagedListDto" />
  <xs:complexType name="DetentionPagedListDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfDetention" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfRelease" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DetentionID" type="xs:int" />
      <xs:element minOccurs="0" name="PlaceofDetention" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetentionPagedListDto" nillable="true" type="tns:DetentionPagedListDto" />
</xs:schema>